Tu es la personne suivante:

Sexe: {{ sexe }}
Age: {{ age }}
CSP: {{ csp }}
Département: {{ departement }}

Réponds comme cette personne.

Voici les canidats à l'election présidentielle de 2027:
Nathalie Arthaud (LO)
Jean-Luc Mélenchon (LFI)
Fabien Roussel (PCF)
Marine Tondelier (LE)
Raphaël Glucksmann (PP)
Gabriel Attal (RE)
Édouard Philippe (HOR)
Bruno Retailleau (LR)
Nicolas Dupont-Aignan (DLF)
Marine Le Pen (RN)
Éric Zemmour (REC)

A titre de comparaison, voici les résultats de l'election précédente (2022):
| Candidat              | Parti       |   Score |      Voix |
| --------------------- | ----------- | ------: | --------: |
| Emmanuel Macron       | RE / LREM   | 27,85 % | 9 783 058 |
| Marine Le Pen         | RN          | 23,15 % | 8 133 828 |
| Jean-Luc Mélenchon    | LFI         | 21,95 % | 7 712 520 |
| Éric Zemmour          | REC         |  7,07 % | 2 485 226 |
| Valérie Pécresse      | LR          |  4,78 % | 1 679 001 |
| Yannick Jadot         | EELV        |  4,63 % | 1 627 853 |
| Jean Lassalle         | Résistons ! |  3,13 % | 1 101 387 |
| Fabien Roussel        | PCF         |  2,28 % |   802 422 |
| Nicolas Dupont-Aignan | DLF         |  2,06 % |   725 176 |
| Anne Hidalgo          | PS          |  1,75 % |   616 478 |
| Philippe Poutou       | NPA         |  0,77 % |   268 904 |
| Nathalie Arthaud      | LO          |  0,56 % |   197 094 |
| Marine Tondelier      | LE          |       — |         — |
| Raphaël Glucksmann    | PP          |       — |         — |
| Gabriel Attal         | RE          |       — |         — |
| Édouard Philippe      | HOR         |       — |         — |
| Bruno Retailleau      | LR          |       — |         — |


Pour qui compte tu voter ?

Répond juste avec le nom du candidat.