## Politique

### Succession de gouvernements minoritaires
La dissolution de l'Assemblée nationale annoncée par Emmanuel Macron le 9 juin 2024, dans la foulée des élections européennes, ouvre une séquence d'instabilité politique[1]. Les élections législatives anticipées de 2024 débouchent sur une Assemblée nationale sans majorité absolue[2]. Après plusieurs semaines de tractations, Michel Barnier est nommé Premier ministre le 5 septembre 2024 à la tête d'un gouvernement reposant sur un « socle commun » entre les macronistes et Les Républicains, avant d'être renversé par une motion de censure en décembre, la deuxième adoptée sous la Cinquième République après celle de 1962[3]. François Bayrou lui succède et fait adopter les lois de finances pour 2025 en recourant à l'article 49, alinéa 3, sans parvenir à stabiliser durablement sa majorité. Menacé de censure lors de la discussion du budget pour 2026, il est à son tour renversé le 9 septembre 2025 à l'issue d'un vote de confiance, avant la nomination de Sébastien Lecornu à Matignon[3].
Cette succession de gouvernements minoritaires s'accompagne d'un ralentissement de l'activité législative, l'exécutif s'appuyant davantage sur les propositions de loi d'origine parlementaire ainsi que sur le Sénat et les commissions mixtes paritaires pour faire adopter des textes[4],[5]. Cette séquence d'instabilité parlementaire et gouvernementale structure le contexte politique dans lequel se prépare l'élection présidentielle de 2027[6].

### Impossibilité pour Emmanuel Macron de briguer un troisième mandat

L'élection présidentielle de 2022 voit une nouvelle fois Emmanuel Macron remporter le scrutin face à Marine Le Pen avec un score cependant moindre qu'en 2017, le « front républicain » ayant été moins important[7].
En vertu de l'article 6 de la Constitution française, le président de la République française ne peut exercer plus de deux mandats consécutifs. Emmanuel Macron ayant accédé à la magistrature suprême en 2017 avant d'être réélu en 2022, il est le premier président concerné par cette limitation introduite par la loi constitutionnelle du 23 juillet 2008[8]. Cette situation est regrettée par ses alliés[9],[10],[11],[12] et qualifiée par lui-même de « funeste connerie »[13],[14],[15].

### Issue du procès de l'affaire des assistants parlementaires européens du Front national
En mars 2025, deux ans avant la tenue prévue du scrutin, la candidate déclarée du Rassemblement national Marine Le Pen est reconnue coupable de détournement de fonds publics en première instance, effectué par l'embauche d'assistants parlementaires travaillant directement pour le parti d'extrême droite et non dans le cadre légal du Parlement européen[16],[17],[18], et est condamnée à cinq ans d'inéligibilité avec exécution provisoire, temps qui inclut par conséquent les prochains scrutins présidentiel et législatif[19],[20]. Largement en tête des intentions de vote du premier tour dans les sondages précédant sa condamnation[21],[22], les médias notent que cette décision rebat les cartes de l'élection présidentielle[23],[24],[25].
Marine Le Pen annonce faire appel de cette condamnation, procédure qui ne suspend toutefois pas son inéligibilité en raison de l'exécution provisoire[26],[27]. Jordan Bardella, son successeur à la tête du Rassemblement national apparaît comme un potentiel remplaçant y compris par Marine Le Pen si son inéligibilité était confirmée[28],[29] même si celui ci est vu comme impopulaire chez une partie significative des cadres « marinistes » notamment Sébastien Chenu et Jean-Philippe Tanguy.
Le 7 juillet 2026, lors du jugement en appel[30], Marine Le Pen est finalement condamnée à 45 mois d'inéligibilité dont 30 avec sursis. Cette peine courant au jour du jugement en première instance, elle a terminé d'exécuter cette peine au cours du mois de juin 2026, la rendant ainsi éligible pour le scrutin présidentiel[31]. Elle annonce sa candidature le soir même au journal de 20 heures de TF1 ainsi que son pourvoi en cassation[32].

### Divisions à gauche
Le Nouveau Front populaire, alliance de la gauche conclue en 2024 pour les élections législatives anticipées, se fragilise progressivement[33] en raison de divergences stratégiques entre ses composantes, notamment entre le Parti socialiste et La France insoumise[34]. Ces désaccords concernent à la fois la stratégie parlementaire[34],[35], les conditions d’une union durable de la gauche[36] et la préparation de l’élection présidentielle de 2027[37].
À partir de 2025, plusieurs responsables de gauche, parmi lesquels Lucie Castets, Olivier Faure, Marine Tondelier, Clémentine Autain, François Ruffin et Benjamin Lucas, soutiennent l’idée d’une candidature commune[38],[39]. Si la gauche unitaire annonce l’organisation d’une primaire le 11 octobre 2026[40],[41], la perspective d’une candidature commune de l’ensemble de la gauche reste toutefois incertaine, Jean-Luc Mélenchon et Raphaël Glucksmann refusant toute participation à un tel scrutin[42],[43]. Le Parti communiste français, dirigé par Fabien Roussel, exclut également l'idée d'une primaire[44], tandis qu'Olivier Faure est confronté à l'hostilité de son opposition interne au Parti socialiste[45].
En avril 2026, plusieurs personnalités de gauche[46] issus des Écologistes, du Parti socialiste, du Parti communiste français, de Place publique et de Gauche républicaine et socialiste ont lancé une initiative « Construire 2027 »[47],[48] pour appeler à ce que la gauche se retrouve pour construire un programme commun, un accord de gouvernement et un accord législatif[49].

### Divisions à droite

À droite, les divisions portent également sur le mode de désignation du candidat[50],[51]. Bruno Retailleau est officiellement désigné candidat des Républicains le 19 avril 2026, à la suite d'un vote des adhérents du parti. Gérald Darmanin, Laurent Wauquiez et David Lisnard demeurent cependant favorables à une primaire afin de rassembler la droite — Wauquiez et Lisnard plaidant pour une primaire élargie jusqu'à Reconquête —, et d'optimiser ainsi les chances d'accéder au second tour[50],[52]. Xavier Bertrand et Édouard Philippe refusent explicitement l'idée d'une primaire, tandis que Gabriel Attal ne l'exclut pas totalement[50]. Michel Barnier propose un projet de coalition programmatique, intitulé « Bâtir ensemble », pour tenter de rassembler la droite et le centre sur un programme commun, plutôt que de laisser les rivalités personnelles fragmenter cet espace[53].

### Influence des patrons d'extrême droite

Lancé en 2025 par Vincent Bolloré, le think tank l'Institut de l'espérance espère peser dans l'élection. Cet institut a rédigé un manifeste de 36 pages, qui détaille une centaine de mesures politiques. Ce manifeste prône notamment une réduction de l'immigration, une réduction de la dépense publique, le retour de l'uniforme à l'école et la suppression du délit d'entrave à l'avortement. Cette ligne politique est relayée via les médias de Vincent Bolloré[54],[55],[56].
Lancé en 2023 par Pierre-Édouard Stérin, le projet Périclès a pour ambition d'amener au pouvoir l'union des droites dans un délai de deux ans. Au sein de Périclès, une quarantaine de programmes sont tournés vers l'aspect politique du projet. La sélection et la formation au « combat électoral » de candidats, la formation de cabinets fantômes ou la préparation de programmes électoraux clés en mains font partie de la panoplie financée par Stérin dans son projet Périclès[57].

### Multiplication des candidatures

Le nombre de candidatures déclarées ou présumées est inédit sous la Cinquième République[58],[59],[60]. À la mi-février 2026, onze personnalités ont déjà déclaré leur candidature, et plusieurs autres sont attendues[59] ; Le HuffPost et la Revue politique et parlementaire comptent une trentaine de candidatures potentielles en avril[61],[62]. La journaliste Marie-Ève Malouines souligne que la plupart de ces prétendants devraient cependant être éliminés avant même de pouvoir se déclarer officiellement, faute de financements, de parrainages ou d'organisation suffisants[62]. 20 Minutes et Le Figaro projettent un nombre potentiel de 17 candidats voire davantage, tandis que le précédent record est celui de 2002, avec 16 candidats[59],[63].
Pour Le HuffPost, l'incapacité constitutionnelle d'Emmanuel Macron à se représenter et le morcellement de la classe politique alimentent cette effervescence[61]. Selon Malouines, cette multiplication de candidatures s'explique moins par des perspectives électorales réalistes que par une logique propre à la vie politique française, où refuser de se déclarer potentiellement candidat équivaudrait à perdre toute stature[62]. Pour le politologue Bruno Jeanbart, elle traduit « l'éclatement du paysage politique et la déliquescence du système partisan » amorcés en 2017[58]. Les politologues Antoine Bristielle et Élie Michel y voient le symptôme d'une crise profonde de la représentation, les partis peinant à assurer leur fonction de sélection des candidats et les ambitions personnelles s'affranchissant du cadre partisan[64].